








.side-menu {
    -fx-padding: 20.0, 10.0;
    -fx-font-size: 15.0;
    -fx-font-weight: NORMAL;
    -fx-text-fill: #444;
}

.title-label {
    -fx-font-size: 16.0px;
    -fx-padding: 14.0px;
    -fx-text-fill: rgba(0.0, 0.0, 0.0, 0.87);
}



















































































































/*******************************************************************************
*                                                                              *
* JFX Hamburger Icon                                                           *
*                                                                              *
*******************************************************************************/

.jfx-hamburger {
    -fx-padding: 10.0;
    -fx-spacing: 4px;
    -fx-cursor: hand;
}




















/*******************************************************************************
 *                                                                             *
 * JFX Tool Bar                                                                *
 *                                                                             *
 ******************************************************************************/

.jfx-tool-bar {
    -fx-font-size: 20.0;
    -fx-font-weight: BOLD;
    -fx-background-color: #5264AE;
    -fx-pref-width: 100.0%;
    -fx-pref-height: 64.0px;
}

.jfx-tool-bar HBox {
    -fx-alignment: center;
    -fx-spacing: 25.0;
    -fx-padding: 0.0 10.0;
}

.jfx-tool-bar Label {
    -fx-text-fill: WHITE;
}

.jfx-tool-bar .jfx-options-burger {
    -fx-padding: 22px;
}

.jfx-tool-bar .jfx-options-burger StackPane {
    -fx-pref-width: 4px;
}

/*.jfx-tool-bar .jfx-rippler {*/
/*    -jfx-rippler-fill: WHITE;*/
/*}*/

.option-list-view {
    -fx-pref-width: 160.0px;
    -fx-background-color: WHITE;
}

.option-jfx-list-view-icon {
    -fx-fill: #5264AE;
    -fx-padding: 0.0 10.0 0.0 5.0;
    -fx-cursor: hand;
}








































































































/*******************************************************************************
*                                                                              *
* JFX Button                                                                   *
*                                                                              *
*******************************************************************************/

/*.custom-jfx-button-raised .jfx-rippler {*/
/*    -jfx-rippler-fill: YELLOW;*/
/*}*/

.custom-jfx-button-raised {
    -fx-padding: 0.7em 0.57em;
    -fx-font-size: 14.0px;
    -jfx-button-type: RAISED;
    -fx-background-color: rgb(102.0, 153.0, 102.0);
    -fx-pref-width: 200.0;
    -fx-text-fill: WHITE;
}





















































































































































.custom-jfx-list-view-icon-container {
    -fx-pref-width: 40px;
}














